<main role="main">
  <%= render 'layouts/messages' %>
  <% if user_signed_in? %>
		<% if (current_user.role_ids.uniq == [2] )%>
			<ul >
      	<li class="btn" ><a href="<%=customer_index_path %>"><span class="glyphicon glyphicon-plane"></span> Take a Ride</a></li>
      	<li class="btn"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    	</ul>
		<% elsif (current_user.role_ids.uniq == [3] )%>
			<ul>
	      <li class="btn"><a href="<%=drivers_path %>">Driver </a></li>
	      <li class="btn"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
  		</ul>
    <% end %>
	<% else %> 
    	<ul>
      	<li class="btn"><a href=<%=new_user_registration_path(:role_id=>2) %>><span class="glyphicon glyphicon-user"></span>Customer Signup</a></li>
      	<li class="btn"><a href=<%=new_user_registration_path(:role_id=>3)%>><span class="glyphicon glyphicon-user"></span>Driver Sign Up</a></li>
      	<li class="btn"><a href=<%=new_user_session_path%>><span class="glyphicon glyphicon-log-in"> Login</a></li>
    	</ul>
	<% end %>
</main>
<marquee scrolldelay="120" width="250px" style="position:absolute; left:600px">   <h3 style="text-align:center; color:yellow"  > Welcome To Ola</h3>  </marquee>

