<main role="main">
  <%= render 'layouts/messages' %>
  <% if user_signed_in? %>
		<% if (current_user.role_ids.uniq == [2] )%>
			<ul >
      	<li class="btn" ><a href="<%=ride_index_path %>"><span class="glyphicon glyphicon-plane"></span> Take a Ride</a></li>
      	<li class="btn"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    	</ul>
		<% elsif (current_user.role_ids.uniq == [3] )%>
			<ul>
	      <%= link_to 'My Profile', driver_path(current_user.id) %><br>
        <%= link_to 'Ride Requests', ride_request_path %><br>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  		</ul>
    <% end %>
	<% else %> 
    	<ul>
      	<li class="btn"><a href=<%=new_user_registration_path(:role_id=>2) %>><span class="glyphicon glyphicon-user"></span>Customer Signup</a></li>
      	<li class="btn"><a href=<%=new_user_registration_path(:role_id=>3)%>><span class="glyphicon glyphicon-user"></span>Driver Sign Up</a></li>
      	<li class="btn"><a href=<%=new_user_session_path%>><span class="glyphicon glyphicon-log-in"> Login</a></li>
    	</ul>
	<% end %>
</main>
