<main role="main">
   <%= render 'layouts/messages' %>
	<h1>Ride Requests</h1>
	<% @ride.each do |ride| %>
			<ul>
			  <li><b>From:-</b><%=ride.pickup_point%></li> 
			  <li><b>To:-</b><%=ride.drop_point%></li>
			  <li><b>Distance:-</b><%=ride.distance%></li>
			  <li><b>User_id:-</b><%=ride.user_id%></li>
			</ul>
			<%= link_to 'Accept And Start Ride', accept_ride_path(ride:ride, driver:current_user.id) %>  |
			<%= link_to 'Reject', drivers_path(ride:ride, driver:current_user.id) %><br>
			==========================<br>
	<% end %>
  |
	<%= link_to 'Home', drivers_path %> |
	<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
</main>