<h1><%=current_user.name %></h1>

<ul>
  <li><b>Mobile:-</b><%=current_user.mobile%></li> 
  <li><b>Email:-</b><%=current_user.email%></li>
  <li><b>Address:-</b><%=current_user.address%></li>
 
</ul>

<%= link_to 'Edit Details', edit_driver_path, :id => current_user.id %>  
<%= link_to 'Home', drivers_path %>  
