<h1>Edit Your Details</h1>
<%= form_for @customer, :url => { :action => "update", :id => current_user.id}, remote: true do |form|%>
      
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, value:current_user.name %>
  </p>
  <p>
    <%= form.label :mobile %><br>
    <%= form.text_area :mobile,value:current_user.mobile %>
  </p>
  <p>
    <%= form.label :city %><br>
    <%= form.text_area :city,value:City.where(id:current_user.city_id).pluck("name").first %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_area :email, value:current_user.email %>
  </p>
  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address, value:current_user.address %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', customer_path,:id => current_user.id %>
 
