<h1>Ride Requests</h1>

<h1><%=@customer.name %></h1>

<ul>
  <li><b>Mobile:-</b><%=@customer.mobile%></li> 
  <li><b>Email:-</b><%=@customer.email%></li>
  <li><b>Address:-</b><%=@customer.address%></li>
 
</ul>

<%= link_to 'Accept And Start Ride', ride_path(current_user.id) %>  |
<%= link_to 'Reject', drivers_path %>  |
<%= link_to 'Home', drivers_path %> |
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>