<h1>Hello Admin</h1>
  Add A Customer:-<%= link_to 'Customer  login', new_user_session_path %><br>
  Add A Driver:-<%= link_to 'Driver login', new_user_session_path %><br>
  <br>
  <%= link_to 'CabDetails', cab_index_path %><br>
  <%= link_to 'CabDetails', cab_index_path %><br>
  <br>
<h1>Driver Details</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @driver=User.where("user.role_ids = 3")%>
  <% byebug %>
  <% @driver.each do |driver| %>
      <td><%= driver.id %></td>
      <td><%= driver.name %></td>
        </tr>
  <% end %>
  </tbody>
</table>
<br>


<h1>Customer</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>


    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @customer=User.all%>
  <% @customer.each do |user| %>
        
      <td><%= user.id %></td>
      <td><%= user.name %></td>

        </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_user_session_path %>


<%= link_to 'New Driver', new_user_session_path %>



<h1>Driver Details</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>License No</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @customer=DriverDetail.all%>
  <% @customer.each do |user| %>

      <td><%= user.id %></td>
      <td><%= user.license_no %></td>

        </tr>
  <% end %>
  </tbody>
</table>

<br>


 <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>