<h1>OLA</h1>


<% if user_signed_in? %>




      <%= link_to "User Ride", ride_index_path %>
   
<%=link_to "Driver Ride", driver_index_path %> 
<%=link_to "For Admin", admin_index_path %> 


 

  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  



	
		<% else %>




			<%= link_to 'Customer  login', new_user_session_path(:role_id => 3) %>
  <%= link_to 'Driver login', new_user_session_path %>

  <%= link_to 'Admin login', new_user_session_path %>


	<% end %>